/*  */
body , html{
	height:100%;
}
.phuto-rkhana-hai{
  width:100%;
  height:100%;
  background:url("../images/Back.jpeg");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
a{
	text-decoration:none;
}
a :hover{
	color:green;
	background-color:gold;
	
}
.flex-bna-rhe{
	display:flex;
	justify-content:center;
	
}

.flexbox{
	display:flex;
	
	flex-direction:column;
}
.box{
	background: url('../images/QouteBox.jpg');
	font-family: Open Sans;
	
}
.box{
	
	width:60%;
	height:60%;
	border:2px solid #000fff;
	
	
}
.box p {
	padding: 0em 0.7em;
}

.childflexbox1{
	display:flex;
	justify-content:center;
}
.childflexbox2{
	display:flex;
	justify-content:center;
	padding-top:1em;
}
.buton:hover{
	background-color:lightblue;
}
.buton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
} 

@